html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #eee;
}
html,
body {
  overflow-x: hidden !important;
}
* {
  cursor: none;
}
a {
  color: inherit;
  text-decoration: none;
}

#master__wrapper {
  background: #222220;
}
#are-failing .fp-tableCell {
  align-items: flex-end;
}
.fp-tableCell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  display: flex !important;
  justify-content: center;
  align-items: center;
}
* {
  box-sizing: border-box;
}
.lottie__element {
  top: 0px !important;
}
/* .lottie__element svg {
  transform: translate3d(0px, 0px, 0px) scale(1.05)!important;
} */
#agencies-are-failing .lottie__element svg {
  top: 0;
}
.section__full {
  height: 100vh;
  width: 100%;
}
.failing__animation,
.bipoc__data__container,
.bipoc__bands__element,
.bipocbandsSecond__fallback,
.full__animation {
  position: absolute;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
}
#video__slide__wrapper {
  position: absolute !important;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
}
.avant {
  font-family: ITC Avant Garde Pro Md;
}
.white__text {
  color: #ffffff;
}
.rose__text {
  color: #ffc6c6;
}
.gray__text {
  color: #adaea5;
}
.black__text {
  color: #222220;
}
.helvetica {
  font-family: "HelveticaNeue";
  font-weight: 300;
}
.uppercase {
  text-transform: uppercase;
}
#selector {
  cursor: none;
}
.loading__screen__courtain {
  transition: opacity ease-in-out 0.5s;
  opacity: 1;
}
video.loading__screen__courtain {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #222220;
  width: 100%;
  height: 100%;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all ease-in-out 0.5s;
  object-fit: cover;
}
.slick-dots {
  display: none !important;
}
.loading__screen__courtain.hide__courtain {
  opacity: 0;
}
#add__loading {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #222220;
  width: 100%;
  height: 100%;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all ease-in-out 0.5s;
  opacity: 1;
}
#add__loading.hide__courtain {
  opacity: 0;
  pointer-events: none;
}
#add__loading.loading__out {
  height: 0%;
  opacity: 0;
  pointer-events: none;
}
#add__loading img {
  width: 300px;
}
#add__loading .add__loading__logo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.1;
  margin: auto;
  transform: scale(2.5);
}
#add__loading .add__loading__logo path {
  fill: #ffc6c6;
}
.scroll__indicator {
  position: fixed;
  left: 20px;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.label__hidden {
  display: none;
  position: absolute;
}
/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.slide__tweets svg {
  transform: translate3d(0px, 0px, 0px) scale(1.1) !important;
}
@media (max-width: 1024px) {
  html,
  body {
    overflow-x: hidden;
  }
  .create__shape__one {
    display: none;
  }
  .bipoc__shape {
    z-index: 2;
    position: relative;
    left: 7px;
    margin-bottom: 30px;
  }
}

@media (max-width: 600px) {
  .bipoc__shape {
    display: none;
  }
  .slick-dots {
    display: block !important;
  }
  #are-failing.mobile__slide {
    align-items: center;
  }
  #are-failing.mobile__slide .col-lg-12 {
    top: 0px;
  }
}
.are__failing__content__container {
  display: none;
  width: 100%;
}
.are__failing__content__container.active {
  display: flex;
}
.failing__animation {
  display: none;
}
.failing__animation.active {
  display: flex;
}

.bipoc__data__container__outer {
  display: none;
  width: 100%;
}
.bipoc__data__container__outer.active {
  display: flex;
}
.bipoc__data__container {
  display: none;
}
.bipoc__data__container.active {
  display: flex;
}

.its__time__content__container {
  display: none;
  width: 100%;
}
.its__time__content__container.active {
  display: flex;
}
.its__time__container {
  display: none;
}
.its__time__container.active {
  display: flex;
}

.let__them__content__container {
  display: none;
  width: 100%;
}
.let__them__content__container.active {
  display: flex;
}
.let__them__container {
  display: none;
}
.let__them__container.active {
  display: flex;
}
.restart__journey * {
  pointer-events: none;
}
.slide__tweets__container__wrapper {
  background: #adaea5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.static__section__tweets {
  display: none;
  width: 100%;
}
.static__section__tweets.active {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tweets__container {
  display: none;
}
.tweets__container.active {
  display: flex;
}

.static__section__tweets svg {
  width: 100%;
  max-width: 600px;
}

#open-doors.black {
  background: #222220;
}
#set-height {
  display: block;
}
#time {
  display: none;
}
#set-height {
  display: block;
}
#v0 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.icon-scroll,
.icon-scroll:before {
  position: fixed;
  left: 50%;
}
.icon-scroll {
  width: 40px;
  height: 70px;
  margin-left: -20px;
  bottom: 10px;
  margin-top: -35px;
  box-shadow: inset 0 0 0 1px #ffc6c6;
  border-radius: 25px;
  z-index: 999;
  transform: scale(0.5);
}
.icon-scroll:before {
  content: "";
  width: 8px;
  height: 8px;
  background: #ffc6c6;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
  animation-name: scroll;
}
.icon-scroll.black {
  box-shadow: inset 0 0 0 1px #222222;
}
.icon-scroll:before.black {
  background: #222222;
}
@-webkit-keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(46px);
    transform: translateY(46px);
  }
}
@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(46px);
    transform: translateY(46px);
  }
}
#video__slide__wrapper {
  position: relative;
}
.PlayButton {
  position: absolute;
  left: 46%;
  bottom: 46%;
  z-index: 2;
  background: #ffc6c6;
  border-radius: 100%;
  transform: scale(0.7);
  pointer-events: none;
}
/* .PlayButton:before{
    content: "";
    display: flex;
    left: 10px;
    border-color: transparent transparent transparent #fff;
    border-style: solid;
    border-width: 21.8px 0 22.5px 37px;
    z-index: 10;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
}
.PlayButton:after {
  content: "";
  left: 0;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background: #000;
  z-index: 9;
} */
.animated__logo svg {
  max-width: 180px;
  position: relative;
  top: -25px;
  left: -40px;
}
.slider__ten__next.off {
  right: 100%;
}
.explore__cta p {
  position: relative;
  font-weight: bold !important;
  overflow: hidden;
}
.PauseButton {
  position: absolute;
  left: 50%;
  bottom: 50%;
  margin: auto;
}
#add__culture__by__raxo,
#video__slide__wrapper,
#video__add,
#video__add iframe,
#video__element {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
#video__slide__wrapper iframe {
  width: 100%;
  height: 100vh;
}
.explore__cta p:after {
  content: "EXPLORE STORIES";
  position: absolute;
  transform: translateY(40px);
  left: 0;
  color: white;
  transition: all ease-in-out 0.4s;
}
.explore__cta:hover p:after {
  transform: translateY(-0.5px);
}
@media (max-width: 1024px) {
  #video__slide__wrapper {
    position: relative !important;
  }
  body,
  html {
    overflow-x: hidden;
  }
}
@media (max-height: 735px) and (orientation: landscape) {
  #we-amplify-the-voices h2 {
    font-size: 55px;
  }
  #we-amplify-the-voices p {
    font-size: 12px;
    line-height: 20px;
  }
  .form__popup {
    transform: scale(0.8);
  }
  #charts__one .chart__controller p,
  #charts__one .chart__controller p {
    font-size: 15px;
  }
  #charts__one h2 {
    font-size: 25px;
  }
  #charts__one.chart__ones__second .chart__image {
    width: 65%;
  }
}
@media (max-height: 680px) and (orientation: landscape) {
  #charts__one.chart__ones__first h2 {
    font-size: 30px;
  }
  #to-diversify.mobile__slide h2 {
    font-size: 18vh;
  }
  .chart__ones__first#charts__one .chart__controller {
    margin-bottom: 0px;
    margin-top: 0px;
    position: absolute;
    top: 130px;
    z-index: 3;
  }
  .form__popup {
    transform: scale(0.7);
  }
  .chart__ones__first .chart__wrapper.active .col-sm-12 .avant {
    position: relative;
    top: 90px;
  }
  .form__information h3 {
    font-size: 15px;
  }
  .chart__ones__first .chart__image__legend {
    max-width: 330px;
  }
  .slide__ten__slide h3 {
    font-size: 60px;
    line-height: 60px;
  }
  .lottieChartFourteen .lottie__element {
    height: 380px;
    left: -102px;
    position: relative;
    top: 10px !important;
  }
  .slide__ten__info h2 {
    font-size: 20px;
  }
  #we-amplify-the-voices .row__second .col-lg-12 h2 {
    font-size: 12px;
  }
  #we-amplify-the-voices .row__second .col-lg-12 h3 {
    font-size: 15px;
  }
  #we-amplify-the-voices .end__block__link svg {
    width: 30px;
    position: relative;
    top: 10px;
  }
  #we-amplify-the-voices .row__second .col-lg-12 .end__block {
    padding: 20px 20px;
  }
  #we-amplify-the-voices h2 {
    font-size: 40px;
  }
}
@import "fonts.css"; /* Font Files */
@import "cursor.css"; /* Cursor Files */
@import "navbar.css"; /* navbar files */
@import "social-menu.css"; /* social-menu files */
@import "cta-slide.css"; /* social-menu files */
@import "form-popup.css"; /* social-menu files */
@import "mobile-styles.css"; /* Mobile files */
@import "older-styles.css"; /* Mobile files */

.collapse-active {
  display: flex !important;
  max-height: 100% !important;
}

.grid-selector svg path {
  stroke: #cd2475 !important;
}

.layout__active svg path {
  stroke: black !important;
}

.filter-active {
  display: flex !important;
}
