
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-x: hidden;
}
* {
  cursor: none;
  }
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.lottie__element{
  top: 0px!important;
}
#agencies-are-failing .lottie__element svg{
  top: 0;
}
.avant {
  font-family: ITC Avant Garde Pro Md;
}
.white__text {
  color: #FFFFFF;
}
.rose__text {
  color: #FFC6C6;
}
.gray__text{
  color: #ADAEA5;
}
.black__text{
  color: #222220;
}
.helvetica {
  font-family: "HelveticaNeue";
  font-weight: 300;
}
.uppercase {
  text-transform: uppercase;
}
#selector {
  cursor: none;
}
@import "fonts.css"; /* Font Files */
@import "cursor.css"; /* Cursor Files */
@import "navbar.css"; /* navbar files */
@import "social-menu.css"; /* social-menu files */
@import "cta-slide.css"; /* social-menu files */
@import "form-popup.css"; /* social-menu files */
@import "mobile-styles.css"; /* Mobile files */