@media(max-width: 10000px){
    .container {
        width: 1500px;
    }
    .chart__title{
        min-height: 300px;
    }
    .is__white__data{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .create__shape__one{
        position: absolute;
        z-index: 4;
    }
    #we-appropiate{
        overflow: hidden;
    }
    .create__shape__one.one{
        top: 50px;
    }
    .create__shape__one.five#shape__one__three{
        left: -100px;
    }
    .create__shape__one.two{
        top: 150px;
        right: 80px;
    }
    .bipoc__shape{
        z-index: 2;
        position: relative;
    }
    .create__shape__one.six#shape__one__four {
        bottom: -150px;
    }
    .create__shape__one.one#shape__one__one {
        top: -100px;
        right: 130px;
    }
    .create__shape__one.five#shape__one__three {
        bottom: -120px;
    }
    .create__shape__one.four{
        bottom: -400px;
    }
    .create__shape__one.five{
        bottom: -250px;
    }
    .create__shape__one.six{
        bottom: -270px;
        left: 200px;
    }
    .create__shape__one.three{
        right: 20px;
        bottom: 0px;
    }
    #create-culture .col-lg-2{
        height: 100%;
    }
    #create-culture h2{
        position: relative;
        z-index: 2;
    }
    .create__culture__floating__wrapper{
        position: absolute;
        top: 0;
        left: 0;right: 0;
        bottom: 0;
        margin: auto;
        width: 100%;
        height: 100%;
    }
    .is__male__data{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /* #scroll__container{
        overflow-y: scroll;
        scroll-snap-type: y mandatory;
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
    #scroll__container section {
        scroll-snap-align: center;
    } */
    .hidden__desktop{
        display: none;
    }
   

    #are-failing.mobile__slide .floating__circle img{
        height: 450px;
    }
    .chart__ones__first .chart__image__legend{
        margin-top: 40px;
    }
    #how-its-done.mobile__slide{
        background: #222220;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    #its-time.mobile__slide{
        background: #222220;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    #how-its-done.mobile__slide .col-lg-12, #its-time.mobile__slide .col-lg-12{
        justify-content: center;
        align-items: center;
        flex-direction: column;
        display: grid;
    }
    .chart__title__image{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .slick-slide{
        opacity: 0.2;
        transition: opacity ease-in-out 0.5s;
    }
    .slick-slide.slick-current{
        opacity: 1;
    }
    #how-its-done.mobile__slide h2{
        font-size: 13vh;
        margin: 0px 0;
        line-height: 0.9em;
    }
    #its-time.mobile__slide h2{
        font-size: 13vh;
        margin: 0px 0;
        line-height: 0.9em;
    }
    #are-failing.mobile__slide .col-lg-12{
        position: relative;
        top: -100px;
    }
    #are-failing.mobile__slide h2{
        font-size: 13vh;
        margin: 0px 0;
        line-height: 0.9em;
    }
    #to-diversify.mobile__slide h2{
        font-size: 17vh;
        margin: 0px 0;
        line-height: 0.9em;
    }
    #open-doors.mobile__slide h2{
        font-size: 12vh;
        margin: 0px 0;
        line-height: 0.9em;
    }
    #open-doors.mobile__slide .col-lg-12{
        position: relative;
        top: 40px;
    }

    #is-white.mobile__slide .col-lg-12 img {
        width: 760px;
        margin-top: 190px;
        max-width: 100%;
    }
    #is-white.mobile__slide h2{
        font-size: 40px;
        margin: 0px 0;
        line-height: 0.9em;
    }
    #is-male.mobile__slide h2{
        font-size: 45px;
        margin: 0px 0;
        line-height: 0.9em;
    }
    #is-male.mobile__slide .col-lg-12 img{
        width: 760px;
        margin-top: 190px;
        max-width: 100%;
    }
    #charts__one{
        background: #ADAEA5;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #charts__one .container{
        padding: 50px 20px;
    }
    #charts__one .chart__controller{
        display: flex;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 80px;

    }
    #charts__one .chart__controller p:nth-child(1){
        margin-right: 40px;
    }
    #charts__one .chart__controller p:nth-child(2){
        margin-right: 40px;
    }
    #charts__one .chart__controller p, #charts__one .chart__controller p.active{
        position: relative;
    }
    #charts__one .chart__controller p:after{
        content: "";
        position: absolute;
        bottom: -10px;
        width: 100%;
        height: 0px;
        background: #222220;
        left: 0;
    }
    .chart__wrapper{
        display: none;
    }
    #charts__one.chart__ones__second .chart__image{
        width: 80%;
        margin: 10px auto;
    }
    .chart__wrapper.active{
        display: flex;
        align-items: flex-start;
    }
    #charts__one .chart__controller p.active:after{
        height: 4px;
    }
    #charts__one.chart__ones__first h2{
        font-size: 50px;

    }
    #charts__one h2{
        margin: 0;
        font-size: 30px;
    }
    #charts__one .chart__image{
        width: 100%;
        margin: 40px 0;
    }
    #charts__one.chart__ones__second .chart__image__legend{
        margin-top: 40px;
        width: 90%;
        
    }
    .chart__title__legend{
        display: flex;
        justify-content: flex-end;
    }
    #charts__one.ch .chart__image__legend{
        margin-top: 40px;
        
    }
    #carousel-info{
        background: #222220;
        min-height: 100vh;
        padding: 50px 20px;
    }
    #carousel-info .small__title{
        color: white;
        font-size: 30px;
        font-weight: bold;
    }
    #carousel-info .smaller__title{
        color: white;
        font-size: 15px;
    }
    #carousel-info h2{
        font-size: 9vh;
        font-weight: bold;
        line-height: 0.9em;
        margin: 10px 0;
    }
    #carousel-info .slide__three h2{
        color: transparent;
        -webkit-text-stroke: 1px #FFC6C6;
        font-size: 12vh;
    }
    #carousel-info .slide__three h2.colored{
        color: #FFC6C6;
    }
    #carousel-info .slide__three .percentage{
        font-weight: bold;
        color: #FFC6C6;
    }
    #carousel-info .slide__three .white__text, #carousel-info .slide__three .gray__text{
        font-size: 16px;
        max-width: 400px;
    }
    #carousel-info .slide__three small{
        margin-top: 15px;
    }
    .slick-dots li button:before {
        font-size: 13px!important;
        opacity: .25!important;
        color: white!important;
    }
    .slick-dots li.slick-active button:before {
        opacity: 1!important;
        color: white!important;
    }
    .carousel__info__slide{
        padding: 0 50px;
    }
}
@media(max-width: 2500px){
    #open-doors.mobile__slide h2{
        font-size: 15vh;
        margin: 0px 0;
        line-height: 0.9em;
    }
    #are-failing.mobile__slide h2{
        font-size: 18vh;
        margin: 0px 0;
        line-height: 0.9em;
    }
    #to-diversify.mobile__slide h2{
        font-size: 23vh;
        margin: 0px 0;
        line-height: 0.9em;
    }
    #is-white.mobile__slide .col-lg-12 img{
        width: 500px;
        margin-top: 40px;
        max-width: 100%;
    }
    #is-male.mobile__slide .col-lg-12 img{
        width: 500px;
        margin-top: 40px;
        max-width: 100%;
    }
}
@media(max-width: 1024px){
    .mobile__slide .container{
        width: 100%;
        padding: 0 100px;
    }
    .hidden__desktop{
        display: flex;
    }
}
@media(max-width: 600px){
    .mobile__slide .container{
        padding: 0 25px;
    }
}
#are-failing.mobile__slide{
    background: #222220;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}
@media(max-width: 1024px){
    #are-failing.mobile__slide h2{
        font-size: 8vh;
        margin: 0px 0;
        line-height: 0.9em;
    }
}
@media(max-width: 600px){
    #are-failing.mobile__slide h2{
        font-size: 50px;
    }
}

#are-failing.mobile__slide .floating__circle{
    position: absolute;
    right: 0;
    top: 20%;
    bottom: 0;
    margin: 0px auto;
    mix-blend-mode: difference;
}
@media(max-width: 1024px){
    #are-failing.mobile__slide .floating__circle img{
        height: 850px;
        opacity: 0.5;
    }
}
@media(max-width: 600px){
    #are-failing.mobile__slide .floating__circle img{
        height: 350px;
    }
}
#to-diversify.mobile__slide{
    background: #222220;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
@media(max-width: 1024px){
    #to-diversify.mobile__slide h2{
        font-size: 8vh;
        margin: 0px 0;
        line-height: 0.9em;
    }
}
@media(max-width: 600px){
    #to-diversify.mobile__slide h2{
        font-size: 50px;
    }
}
#to-diversify.mobile__slide .floating__circle{
    position: absolute;
    right: 0;
    top: 50%;
    bottom: 0;
    margin: 0 auto;
}
#to-diversify .col-lg-12{
    position: relative;
    top: 40px;
}
@media(max-width: 1024px){
    #to-diversify.mobile__slide .floating__circle img{
        height: 180px;
        opacity: 0.5;
    }
}
@media(max-width: 600px){
    #to-diversify.mobile__slide .floating__circle img{
        height: 80px;
    }
}

#open-doors.mobile__slide{
    background: #ADAEA5;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
@media(max-width: 1024px){
    #open-doors.mobile__slide h2{
        font-size: 8vh;
        margin: 0px 0;
        line-height: 0.9em;
    }
    #are-you-sleeping-on{
        display: none!important;
    }
}
@media(max-width: 600px){
    #open-doors.mobile__slide h2{
        font-size: 50px;
    }
}

#open-doors.mobile__slide .floating__circle{
    position: absolute;
    right: 0;
    top: 50px;
}
#open-doors.mobile__slide .floating__circle img{
    height: 80px;
    opacity: 0.5;
}

#is-white.mobile__slide{
    background: #222220;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#is-white.mobile__slide .floating__circle{
    position: absolute;
    right: 0;
    top: 50px;
}
@media(max-width: 1024px){
    #is-white.mobile__slide .col-lg-12 img{
        width: 100%;
        margin-top: 40px;
    }
    #is-white.mobile__slide h2{
        font-size: 30px;
        margin: 0px 0;
        line-height: 0.9em;
    }
    #is-male.mobile__slide h2{
        font-size: 30px;
        margin: 0px 0;
        line-height: 0.9em;
    }
    #is-male.mobile__slide .col-lg-12 img{
        width: 100%;
        margin-top: 40px;
    }
}

#is-male.mobile__slide{
    background: #222220;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#is-male.mobile__slide .floating__circle{
    position: absolute;
    right: 0;
    top: 50px;
}


#create-culture.mobile__slide{
    background: #ADAEA5;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
@media(max-width: 10000px){
    #create-culture.mobile__slide h2{
        font-size: 13vh;
        margin: 0px 0;
        line-height: 0.9em;
    }
}
@media(max-width: 1024px){
    #create-culture.mobile__slide h2{
        font-size: 8vh;
        margin: 0px 0;
        line-height: 0.9em;
    }
}
@media(max-width: 600px){
    #create-culture.mobile__slide h2{
        font-size: 50px;
    }
}

#create-culture.mobile__slide .floating__circle{
    position: absolute;
    right: 0;
    top: 0px;
    left: 0;
    bottom: 0;
}
#create-culture.mobile__slide .floating__circle img{
    height: 100%;
    opacity: 1;
    width: 100%;
    object-fit: cover;
}

#we-appropiate.mobile__slide{
    background: #ADAEA5;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}
#create-culture{
    overflow: hidden;
}
@media(max-width: 10000px){
    #we-appropiate.mobile__slide h2{
        font-size: 13vh;
        margin: 0px 0;
        line-height: 0.9em;
    }
    .second__line{
        position: relative;
    }
}
@media(max-width: 1024px){
    #we-appropiate.mobile__slide h2{
        font-size: 8vh;
        margin: 0px 0;
        line-height: 0.9em;
    }
}
@media(max-width: 600px){
    #we-appropiate.mobile__slide h2{
        font-size: 50px;
    }
}

#we-appropiate.mobile__slide .floating__circle{
    position: absolute;
    right: 0;
    top: 0px;
    left: 0;
    bottom: 0;
}
#we-appropiate.mobile__slide .floating__circle img{
    height: 100%;
    opacity: 1;
    width: 100%;
    object-fit: cover;
}
#we-appropiate .second__line{
    position: relative;
}
#we-appropiate .second__line img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    right: 0;
    bottom: 0;
    margin: auto;
}

@media(max-width: 1024px){
    #how-its-done.mobile__slide{
        background: #222220;
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    #how-its-done.mobile__slide h2{
        font-size: 8vh;
        margin: 0px 0;
        line-height: 0.9em;
    }
}
@media(max-width: 600px){
    #how-its-done.mobile__slide h2{
        font-size: 50px;
    }
}
@media(max-width: 1024px){
    #how-its-done.mobile__slide .floating__circle{
        position: absolute;
        right: 0;
        top: 50px;
    }
    #how-its-done.mobile__slide .col-lg-12 img{
        width: 100%;
        margin-top: 40px;
    }
    
    #its-time.mobile__slide{
        background: #222220;
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    #its-time.mobile__slide h2{
        font-size: 8vh;
        margin: 0px 0;
        line-height: 0.9em;
    }
}
@media(max-width: 600px){
    #its-time.mobile__slide h2{
        font-size: 50px;
    }
}
#its-time.mobile__slide .floating__circle{
    position: absolute;
    right: 0;
    top: 50px;
}
#its-time.mobile__slide .col-lg-12 img{
    width: 100%;
    margin-top: 40px;
}


@media(max-width: 1024px){

    #carousel-info{
        background: #222220;
        min-height: 100vh;
        padding: 50px 20px;
    }
    #carousel-info .small__title{
        color: white;
        font-size: 30px;
        font-weight: bold;
    }
    #carousel-info .smaller__title{
        color: white;
        font-size: 15px;
    }
    #carousel-info h2{
        font-size: 8vh;
        font-weight: bold;
        line-height: 0.8em;
        margin: 10px 0;
    }
    #carousel-info .slide__three h2{
        color: transparent;
        -webkit-text-stroke: 1px #FFC6C6;
        font-size: 10vh;
    }
    #carousel-info .slide__three h2.colored{
        color: #FFC6C6;
    }
    #carousel-info .slide__three .percentage{
        font-weight: bold;
        color: #FFC6C6;
    }
    #carousel-info .slide__three .white__text, #carousel-info .slide__three .gray__text{
        font-size: 25px;
        max-width: 400px;
    }
    #carousel-info .slide__three small{
        margin-top: 15px;
    }
    .slick-dots li button:before {
        font-size: 13px!important;
        opacity: .25!important;
        color: white!important;
    }
    .slick-dots li.slick-active button:before {
        opacity: 1!important;
        color: white!important;
    }
    .carousel__info__slide{
        padding: 0 50px;
    }
}
@media(max-width: 600px){
    .chart__wrapper.active{
        align-items: center;
    }
    #charts__one.chart__ones__second .chart__image {
        width: 70%;
        margin: 0px auto 20px;
    }
    .chart__title h2 span{
        color: #FFC6C6;
    }
    .chart__wrapper .chart__image{
        order: 1;
    }
    .chart__title{
        order: 3;
        margin-top: 50px;
    }
    .chart__wrapper .chart__image__legend{
        order: 2;
        width: 80%;
    }

    #charts__one h2 {
        font-size: 25px;
    }
    #charts__one .container {
        padding: 0px 30px;
    }
    .carousel__info__slide{
        padding: 0 0px;
    }
    #carousel-info{
        background: #222220;
        min-height: auto;
        padding: 110px 20px;
    }
    #carousel-info .small__title{
        color: white;
        font-size: 30px;
        font-weight: bold;
    }
    #carousel-info .smaller__title{
        color: white;
        font-size: 15px;
    }
    #carousel-info h2{
        font-size: 40px;
        font-weight: bold;
        line-height: 0.8em;
        margin: 10px 0;
    }
    #carousel-info .slide__three h2{
        color: transparent;
        -webkit-text-stroke: 1px #FFC6C6;
        font-size: 60px;
    }
    #carousel-info .slide__three h2.colored{
        color: #FFC6C6;
    }
    #carousel-info .slide__three .percentage{
        font-weight: bold;
        color: #FFC6C6;
    }
    #carousel-info .slide__three .white__text, #carousel-info .slide__three .gray__text{
        font-size: 13px;
    }
    #carousel-info .slide__three small{
        margin-top: 15px;
    }
    .slick-dots li button:before {
        font-size: 13px!important;
        opacity: .25!important;
        color: white!important;
    }
    .slick-dots li.slick-active button:before {
        opacity: 1!important;
        color: white!important;
    }
    #charts__one .chart__controller p, #charts__one .chart__controller p.active {
        font-size: 10px;
    }
    #charts__one .chart__controller p:nth-child(1), #charts__one .chart__controller p:nth-child(2) {
        margin-right: 25px;
    }
    .chart__ones__first .chart__title{
        order: 0;
    }
    #charts__one .chart__controller {
        margin-bottom: 30px;
    }
    #charts__one {
        min-height: auto;
        padding: 70px 0px;
    }
}

@media (max-width: 1024px) and (orientation: landscape) {
    #charts__one.chart__ones__second .chart__image {
        width: 200px;
        margin: 20px auto 0px;
    }

    #charts__one .chart__image__legend {
        width: 200px;
    }
    .chart__title h2 span{
        color: #FFC6C6;
    }
    .failing__title {
        display: flex;
        flex-direction: wrap;
    }
    .failing__title h2{
        margin-right: 10px!important;
    }

    .chart__wrapper .chart__image{
        order: 1;
    }
    .chart__title {
        order: 3;
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
    }
    .chart__wrapper .chart__image__legend{
        order: 2;
        width: 80%;
    }
    #charts__one h2 {
        margin: 0;
        font-size: 20px;
        margin-right: 5px;
    }
    #are-failing.mobile__slide h2 {
        font-size: 5vw;
        position: relative;
        top: 15px;
    }
    .chart__title h2 span{
        color: #FFC6C6;
    }
    #charts__one .chart__controller {
        margin-bottom: 30px;
    }
    #to-diversify.mobile__slide h2{
        font-size: 5vw;
        position: relative;
        top: 15px;
    }
    #open-doors.mobile__slide h2{
        font-size: 5vw;
    }
    #are-failing.mobile__slide .floating__circle img {
        height: 250px;
    }
    #open-doors.mobile__slide, #is-white.mobile__slide, #is-male.mobile__slide{
        min-height: 100vh;
        height: auto;
    }
    #is-white.mobile__slide, #is-male.mobile__slide{
        padding: 100px 0;
    }
    #is-white.mobile__slide .col-lg-12 img , #is-male.mobile__slide .col-lg-12 img{
        width: 200px;
    }
    #is-white.mobile__slide h2 {
        font-size: 20px;
    }
    #carousel-info .slide__three .white__text, #carousel-info .slide__three .gray__text {
        font-size: 15px;
    }
    #create-culture.mobile__slide .floating__circle img, #we-appropiate.mobile__slide .floating__circle img {
        width: 100%;
        object-fit: cover;
    }
    #create-culture.mobile__slide h2, #how-its-done.mobile__slide h2, #its-time.mobile__slide h2 {
        font-size: 5vw;
    }
    #how-its-done.mobile__slide h2, #its-time.mobile__slide h2{
        position: relative;
        top: 20px;
    }
    #we-appropiate.mobile__slide h2 {
        font-size: 5vw;
    }
    .chart__ones__first .chart__title{
        order: 0;
        margin-top: 30px;
    }
    #charts__one.chart__ones__first .chart__controller {
        margin-bottom: 0px;
    }
    #charts__one .chart__image {
        width: 300px;
        margin: 40px auto 0;
    }
    #how-its-done.mobile__slide, #its-time.mobile__slide{
        height: 100vh;
    }
    #we-appropiate .second__line img{
        max-width: 300px;
    }
    #we-amplify-the-voices h2 {
        font-size: 40px;
    }
    #we-amplify-the-voices{
        padding: 100px 0;
    }
    .navbar.container-fluid {
        padding: 10px 0;
        background: #222220!important;
    }
}
